@media(min-width: 970px){
    .info {    
        .info-box{
            .content {
                .title {
                    font-size: 30px;
                }
            }
        }
    }
     
    header{
        .navbar button.navbar-toggler .navbar-toggler-icon::before{
            font-size: 1.8em;
        }
        h1{
            font-size: 2.8em;

            .globocom{
                width: 200px;
            }
        }
    }
}